@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define consola font */
@font-face {
    font-family: 'CONSOLA';
    src: url(./assets/fonts/CONSOLA.TTF) format('truetype');
    font-display: swap;
    /* optional but for better font loading */
}

/* Define Consolas font */
@font-face {
    font-family: 'Consolas';
    src: url(./assets/fonts/Consolas.ttf) format('truetype');
    font-display: swap;
}

/* Define Droid Sans font */
@font-face {
    font-family: 'Droid Sans';
    src: url(./assets/fonts/droid-sans-regular.ttf) format('truetype');
    font-display: swap;
}

/* Vanilla CSS */
.vanilla-bg-gradient { /* html background gradient */
    background: linear-gradient(to bottom,
            #040706 20%,
            #0f1817 60%,
            #152520,
            #223d34,
            #4e7265);
    background-attachment: fixed;
    color: var(--sea-green);
}

/* Custom Classes */
@layer base {

    *, *::before, ::after {
        @apply m-0 p-0 box-border;
    }

    html {
        @apply custom-bg-size bg-no-repeat scroll-smooth text-sea-green;
    }

    body {
        @apply text-[14px];
    }

    h1 {
        @apply relative top-[2.5px] font-consola font-bold text-6xl 
        
        xs:text-[41px]
        
        s:top-6 s:text-[45px]
        /* s:right-10 */
        
        md:top-[34px] md:text-[45px] 
        
        lg2:relative lg2:top-16 text-[49px];
    }

    li {
        @apply list-none;
    }

    nav {
        @apply flex flex-col items-center justify-between text-[13px];
    }

    nav>p {
        @apply my-[12.5px] mx-0 text-center text-[11.7px] text-slate-grey leading-[18.5px];
    }

    hr {
        @apply h-[3px] border-solid border-blood bg-blood;
    }

    form {
        @apply pt-2.5 px-[50px] pb-[100px];
    }

    footer {
        @apply pt-5 px-0 pb-10;
    }
}

@layer utilities {
    /* CUSTOM CLASSES made for any section */

    .home-bg-gradient { /* home section card gradient */
        background: linear-gradient(200deg,
        rgba(55, 78, 72, 0.23) 40%,
        rgba(127, 180, 166, 0.43) 100%);
    }

    .home-bg-gradient-s {
        /* home section card gradient style for devices w/ min. width of 480px */
        background: linear-gradient(0deg,
        rgba(55, 78, 72, 0.23) 40%,
        rgba(127, 180, 166, 0.43) 100%);
    }    

    .h-72vh {
        height: 72vh;
      }

    .custom-bg-size {
        background-size: 100% 100vh;
    }

    /* apply margin-bottom: unset */
    .mb-unset {
        margin-bottom: unset;
    }

    /* apply no decarations to links */
    .no-text-decoration {
        text-decoration: none;
    }

    /* apply no background (targets all background properties) */
    .no-bg {
        background: none;
    }

    /* section: nav */
    .navbar {
        @apply w-full pt-[15px] px-[15px] pb-0 font-jetbrains;
    }

    .nav-ul {
        @apply inline-flex items-center z-[3] mb-unset py-0.5 px-5 gap-x-[10px] 
        rounded-[3px] bg-dark-tempered-glass overflow-hidden;
    }

    .nav-ul>li {
        @apply list-none;
    }

    .nav-ul>li>a {
        @apply p-0 no-text-decoration;
    }

    .nav-ul>li>a:hover {
        @apply text-nav-link-hover-color duration-500;
    }

    .nav-ul>li>a:not(:hover) {
        @apply duration-500;
    }

    .nav-email {
        @apply inline-flex items-center border-none no-bg
    }

    .nav-email:active {
        @apply text-[#bbc9bda2];
    }

    .nav-email:focus {
        @apply outline-none;
    }

    .nav-email>i {
        @apply text-[#bbc9bda2] mr-[5.85px];
    }

    /* section: home */
    #home {
        @apply pt-5 
        
        s:p-0

        md:mt-[70px];

    }

    #home-container {
        @apply relative inline-grid grid-cols-[auto_auto] mt-20 mx-40 pt-[10px] px-10 
        h-[613px] z-0 home-bg-gradient-s border-none rounded-[7px]
        
        xs:h-[650px] xs:mt-[30px] xs:mx-5 xs:mb-20 xs:px-3
        xs:grid-cols-[unset] xs:grid-rows-[auto_auto]

        s:grid s:mt-10 s:mx-5 s:mb-20 s:p-0 
        /* s:h-72vh  */
        /* xs:border-solid xs:border-red-400 xs:border-2 */

         md:mx-[18px] md:py-0 pr-[5px] md:pl-5 md:h-[450px] md:grid-cols-[auto_auto]
        md:home-bg-gradient 

        lg:py-0 lg:pr-[5px] lg:pl-10

        2xl:my-20 2xl:mx-[100px] 2xl:mt-[10px] 2xl:mr-[5px] 2xl:mb-0 2xl:ml-10;
    }

    /* #container-home-div-1 */
    #profile-card {
        @apply h-[594px] py-0 pr-[60px] pl-0 
        
        xs:p-0 xs:pt-4 xs:h-[375px] xs:text-center xs:border-solid 
        
        s:h-[405px] s:justify-self-center s:pt-4
        /* s:border-red-400 s:border-2 */
        
        md:h-[431px] md:pt-0;
    }

    #profile-img {
        @apply relative top-[-18px] left-[55px] h-[468px] w-[380px] z-[-1] object-contain
        
        xs:left-0 xs:w-[230px] xs:h-[unset] xs:m-auto xs:pt-1.5
        
        s:top-0 md:top-[10px] md:w-[245px] 
        
        lg2:top-9 lg2:w-[323px] lg2:h-auto lg2:z-[-1] lg2:object-contain;
    }

    #social-links {
        @apply relative flex top-[-67px] left-60 w-[260px] 
        
        xs:justify-center xs:left-1/2 xs:-translate-x-1/2 xs:-top-14

        s:top-[-30px]
        /* s:justify-end s:ml-4 */
        
        md:top-[-30px] md:left-[160px]

        lg2:top-[-10px] lg2:left-[190px] lg2:w-[260px];
    }

    #social-links > li {
        @apply text-[62px] 
        xs:text-[53px] 
        s:text-[63px] 
        md:text-[59px]
        lg2:text-[59px];
    }

    .social-icon {
        @apply hover:text-container-border-1 hover:duration-500;
    }

    .social-icon:not(:hover) {
        @apply duration-500;
    }

    /* #container-home-div-2 */
    #profile-description {
        @apply h-[594px] content-center 

        xs:h-[200px] xs:-mt-10
        
        s:self-start 
        
        md:mt-0 md:h-[450px] md:self-auto
        /* s:border-solid s:border-red-400 s:border-2 */
        ;
    }

    /* #intro */
    #profile-description > p {
        @apply font-consola font-bold text-[51.5px] text-center mb-[unset]

        xs:py-0 xs:px-[5px] xs:text-[23px]
        
        s:pt-9 s:pb-5 s:px-[18.75px] 
        /* s:mt-5 */
        s:text-[25px]
        /* s:border-solid s:border-zinc-400 s:border-2 */

        md:text-[34px] md:py-0 md:px-[30px]
        ;
    }

    #profile-description > p > span {
        @apply text-container-border-1
    }

}