@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vanilla CSS */
.vanilla-bg-gradient {
    background: linear-gradient(to bottom,
            #040706 20%,
            #0f1817 60%,
            #152520,
            #223d34,
            #4e7265);
    background-attachment: fixed;
    color: var(--sea-green);
}

/* Custom Classes */
@layer base {

    *, *::before, ::after {
        @apply m-0 p-0 box-border;
    }

    html {
        @apply custom-bg-size bg-no-repeat scroll-smooth;
    }

    body {
        @apply text-sm;
    }

    h1 {
        @apply text-sage-transparent;
    }
}

@layer utilities {
    .custom-bg-size {
        background-size: 100% 100vh;
    }
}

.custom-button {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
